<div class="container">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img 
                class="w-full h-full rounded-full"
                src="https://rukminim2.flixcart.com/image/832/832/jy4q3680/t-shirt/g/w/6/m-8939047-roadster-original-imafgfr4nyy79jfp.jpeg?q=70" alt="">
            </div>
        </div>

        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p>codeWithZosh</p>
                    <p class=" opacity-20 font-bold">april-20-1999</p>
                </div>
                <div>
                    <!-- <app-star-rating/> -->
                    <p>4</p>
                </div>
                <p>nice product, i like white</p>
            </div>

        </div>
    </div>
</div>